<h1 class="text-center">Blocipedia: Social, Markdown Wikis</h1>
<div class="jumbotron text-center">
  <h2>Create and share Markdown Wikis</h2>
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="media">
      <div class="media-left">
        <a href="#" class="media-object plan-box">
          Free
        </a>
      </div>
      <div class="media-body">
        <h4>Free Plan</h4>
        <p>Create as many public wikis as you want!</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="media">
      <div class="media-left">
        <a href="#" class="media-object plan-box">
          Premium
        </a>
      </div>
      <div class="media-body">
        <h4>Premium Plan</h4>
        <p>Create private wikis!</p>
      </div>
    </div>
  </div>
</div>

