<div class="row mtl">
  <div class="col-md-8">
    <%= render partial: 'wikis/wiki', collection: wikis %>
    <%= will_paginate wikis %>
  </div>
</div>
<div class="row mtl">
  <div class="col-md-8">
    <% if policy(wiki).create? %>
      <h4>Add a Wiki</h4>
      <%= render partial: 'wikis/form', locals: { wiki: wiki } %>
    <% end %>
  </div>
</div>
