<h1 class="text-center">All Wikis</h1>

<div class="row">
  <div class="col-md-8">
    <%= render partial: 'wikis/wiki', collection: @wikis %>
  </div>
  <div class="col-md-8 mtl">
    <% if policy(@wiki).create? %>
      <%= render partial: 'wikis/form', locals: { wiki: @wiki } %>
    <% end %>
  </div>
</div>